<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!--数据库连接-->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://127.0.0.1:3306/mcgj</property>
        <property name="connection.username">root</property>
        <property name="connection.password">123456</property>
        <!--辅助参数-->
        <!--数据库方言-->
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <!--在控制台显示生成的SQL语句,便于学习-->
        <property name="show_sql">true</property>
        <!--格式化控制台显示的SQL语句,便于查看-->
        <property name="format_sql">true</property>
        <!--create-drop:表示在hebarinate初始化时创建表格,程序运行结束的时候会删除相应的表格。
            create:在hibernate初始化时会创建表格，在运行结束之后不删除表格，
            而是在下一次运行的时候如果有旧的删掉，没有旧的，重新建表格
            update:只是根据映射文件去和数据库中的表对应起来，如果不一致，就更新表的结构
            validate:校验映射文件和数据库中的表是不是能对应起来，不能对应报错，实际中常用-->
        <property name="hbm2ddl.auto">validate</property>
        <!--当前会话线程绑定-->
        <property name="current_session_context_class">thread</property>

        <!--批处理-->
        <property name="hibernate.jdbc.batch_size">10</property>
        <!--关闭二级缓存-->
        <property name="hibernate.cache.use_second_level_cache">false</property>

        <!--映射文件-->
        <mapping resource="com/bc/pojo/Emp.hbm.xml"/>
        <mapping resource="com/bc/pojo/Dept.hbm.xml"/>
    </session-factory>
</hibernate-configuration>